Repository robert-7/Math-Assignments-and-Presentations: changes, and which pre-commit hooks are due for each by the changed paths.
All: chktex, makefile-syntax-checker

chktex:
  name: chktex
  description: This hook runs chktex for LaTeX linting.
  entry: chktex
  args:
  - -l
  - .chktexrc
  language: system

makefile-syntax-checker:
  name: Check Makefile Syntax
  entry: make -n
  language: system
  pass_filenames: false

fix: delete additional intermediary latex files
  .gitignore
  Makefile
  README.md
  Two Proofs of Cayley's Formula for the Number of Trees/Feathergraphics/1.pdf
  Two Proofs of Cayley's Formula for the Number of Trees/Feathergraphics/2.pdf
Due: makefile-syntax-checker

fix: delete additional intermediary latex files (#38)
  .gitignore
  Makefile
  README.md
  Two Proofs of Cayley's Formula for the Number of Trees/Feathergraphics/1.pdf
  Two Proofs of Cayley's Formula for the Number of Trees/Feathergraphics/2.pdf
Due: makefile-syntax-checker

feat: adds scripts for working with gdrive [#39]
  ci/install_gdrive.sh
  ci/upload_to_gdrive.sh
Due: none

feat: ensures we upload a filename-friendly name
  ci/upload_to_gdrive.sh
Due: none

feat: adds makefile change to upload files [#39]
  Makefile
  README.md
  ci/upload_to_gdrive.sh
Due: makefile-syntax-checker

chore: cleanup
  Makefile
  scripts/README.md
  scripts/build.sh
  scripts/install.sh
  scripts/upload_to_gdrive.sh
Due: makefile-syntax-checker

chore: cleanup
  .markdownlint.rb
  scripts/README.md
Due: none

chore: cleanup
  .markdownlint.rb
Due: none

feat: adds scripts for working with gdrive [#39] (#40)
  .markdownlint.rb
  Makefile
  README.md
  ci/README.md
  scripts/README.md
  scripts/build.sh
  scripts/install.sh
  scripts/upload_to_gdrive.sh
Due: makefile-syntax-checker

chore: clean up folder name and README
  Groups Generated by Reflections/README.md
  Groups Generated by Reflections/images/1-01-d_inf.png
  Groups Generated by Reflections/images/1-02-d_inf_a_b.png
  Groups Generated by Reflections/images/1-04-d_inf_ab_1.png
  Groups Generated by Reflections/images/1-05-d_inf_ab_2.png
  Groups Generated by Reflections/images/2-01-01-Fundamental_Domain.png
  Groups Generated by Reflections/images/2-01-Cayley_Graph.png
  Groups Generated by Reflections/images/2-02-Tiling.png
  Groups Generated by Reflections/images/2-03-Computing_baba.png
  Groups Generated by Reflections/images/2-04-Wrong_Way.png
  Groups Generated by Reflections/images/6-01-rbg-rbg-1.png
  Groups Generated by Reflections/images/6-02-rbg_rbg_2.png
  Groups Generated by Reflections/images/6-03-rbg_rbg_3.png
  Groups Generated by Reflections/images/6-05-rbg_rbg_3-tiling.png
  Groups Generated by Reflections/images/6-06-rbg_rbg_3-cayley.png
  Groups Generated by Reflections/images/6-07-rbg_rbg_3-fundamental_domain.png
  Groups Generated by Reflections/images/7-01-W_236_tiling.png
  Groups Generated by Reflections/images/7-02-W_236_cayley_graph.png
  Groups Generated by Reflections/images/7-03-W_244_tiling.png
  Groups Generated by Reflections/images/7-04-W_244_cayley_graph.png
  Groups Generated by Reflections/images/8-01-Tiling_of_D_infty_D_infty.png
  Groups Generated by Reflections/images/Untitled.png
  Groups Generated by Reflections/images/d5_rotations_reflections.png
  Groups Generated by Reflections/paper.tex
  README.md
  scripts/build.sh
  scripts/upload_to_gdrive.sh
Due: chktex

chore: clean up folder name and README (#42)
  Groups Generated by Reflections/README.md
  Groups Generated by Reflections/images/1-01-d_inf.png
  Groups Generated by Reflections/images/1-02-d_inf_a_b.png
  Groups Generated by Reflections/images/1-04-d_inf_ab_1.png
  Groups Generated by Reflections/images/1-05-d_inf_ab_2.png
  Groups Generated by Reflections/images/2-01-01-Fundamental_Domain.png
  Groups Generated by Reflections/images/2-01-Cayley_Graph.png
  Groups Generated by Reflections/images/2-02-Tiling.png
  Groups Generated by Reflections/images/2-03-Computing_baba.png
  Groups Generated by Reflections/images/2-04-Wrong_Way.png
  Groups Generated by Reflections/images/6-01-rbg-rbg-1.png
  Groups Generated by Reflections/images/6-02-rbg_rbg_2.png
  Groups Generated by Reflections/images/6-03-rbg_rbg_3.png
  Groups Generated by Reflections/images/6-05-rbg_rbg_3-tiling.png
  Groups Generated by Reflections/images/6-06-rbg_rbg_3-cayley.png
  Groups Generated by Reflections/images/6-07-rbg_rbg_3-fundamental_domain.png
  Groups Generated by Reflections/images/7-01-W_236_tiling.png
  Groups Generated by Reflections/images/7-02-W_236_cayley_graph.png
  Groups Generated by Reflections/images/7-03-W_244_tiling.png
  Groups Generated by Reflections/images/7-04-W_244_cayley_graph.png
  Groups Generated by Reflections/images/8-01-Tiling_of_D_infty_D_infty.png
  Groups Generated by Reflections/images/Untitled.png
  Groups Generated by Reflections/images/d5_rotations_reflections.png
  Groups Generated by Reflections/paper.tex
  README.md
  scripts/build.sh
  scripts/upload_to_gdrive.sh
Due: chktex

feat: uploads to specific directory in Google Drive [#41]
  scripts/install.sh
  scripts/upload_to_gdrive.sh
Due: none

feat: uploads to specific directory in Google Drive [#41] (#43)
  scripts/install.sh
  scripts/upload_to_gdrive.sh
Due: none

feat: cleans up linear equations paper [#14]
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  Solving Linear Relations using Linear Algebra/.gitattributes
  Solving Linear Relations using Linear Algebra/.gitignore
  Solving Linear Relations using Linear Algebra/code/README.md
  Solving Linear Relations using Linear Algebra/code/requirements.txt
  Solving Linear Relations using Linear Algebra/code/validate.py
  Solving Linear Relations using Linear Algebra/paper.tex
  Solving Linear Relations using Linear Algebra/test_results.py
Due: chktex

feat: cleans up linear equations paper [#14] (#44)
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  Solving Linear Relations using Linear Algebra/.gitattributes
  Solving Linear Relations using Linear Algebra/.gitignore
  Solving Linear Relations using Linear Algebra/code/README.md
  Solving Linear Relations using Linear Algebra/code/requirements.txt
  Solving Linear Relations using Linear Algebra/code/validate.py
  Solving Linear Relations using Linear Algebra/paper.tex
  Solving Linear Relations using Linear Algebra/test_results.py
Due: chktex

fix: addresses not using non-breaking-spaces [#16]
  .chktexrc
  Extending Conditional Recurrences over Finite Fields/paper.tex
Due: chktex

fix: addresses not using non-breaking-spaces [#16] (#45)
  .chktexrc
  Extending Conditional Recurrences over Finite Fields/paper.tex
Due: chktex

fix: addresses linter issues
  .chktexrc
  Assignment 2 on Free Groups/paper.tex
  Extending Conditional Recurrences over Finite Fields/paper.tex
  Groups Generated by Reflections/images/Untitled.png
  Proof on the Uniqueness of the Sicherman Dice/paper.tex
  README.md
  Theorems for 2nd Half of Graph Theory Course/paper.tex
  Two Proofs of Cayley's Formula for the Number of Trees/presentation.tex
Due: chktex

fix: addresses linter issues (#46)
  .chktexrc
  Assignment 2 on Free Groups/paper.tex
  Extending Conditional Recurrences over Finite Fields/paper.tex
  Groups Generated by Reflections/images/Untitled.png
  Proof on the Uniqueness of the Sicherman Dice/paper.tex
  README.md
  Theorems for 2nd Half of Graph Theory Course/paper.tex
  Two Proofs of Cayley's Formula for the Number of Trees/presentation.tex
Due: chktex

chore: updates pre-commit and README
  .pre-commit-config.yaml
  Groups Generated by Reflections/paper.tex
  Proof on the Uniqueness of the Sicherman Dice/paper.tex
  README.md
  scripts/install.sh
Due: chktex

ci: updates GitHub Actions jobs
  .github/workflows/main.yaml
Due: none

chore: updates pre-commit and README (#48)
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  Groups Generated by Reflections/paper.tex
  Proof on the Uniqueness of the Sicherman Dice/paper.tex
  README.md
  scripts/install.sh
Due: chktex

feat: adds sum trees presentation [#47]
  Interpreting Meta-Fibonacci Recursions using Sum Trees/README.md
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G1(n).png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Recursion.jpg
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_3_Recursion.jpg
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_3_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_k_Recursion.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_k_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_of_12_13_14_15_16_17_paths.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_of_14_PST_gen_algo.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Gk3_ICs1_4levels.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Gk3_ICs1_4levels.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1 Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1_Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Path_recursion_of_G_2_of_12_and_14.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Path_recursion_of_G_2_of_12_and_14.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/lazy-golomb.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/presentation.tex
  scripts/build.sh
  scripts/upload_to_gdrive.sh
Due: chktex

feat: adds sum trees presentation [#47] (#49)
  Interpreting Meta-Fibonacci Recursions using Sum Trees/README.md
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G1(n).png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Recursion.jpg
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_2_Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_3_Recursion.jpg
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_3_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_k_Recursion.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_k_Recursion.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_of_12_13_14_15_16_17_paths.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/G_of_14_PST_gen_algo.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Gk3_ICs1_4levels.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Gk3_ICs1_4levels.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1 Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1_Tree.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Golumb_j=1_Tree.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Path_recursion_of_G_2_of_12_and_14.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/Path_recursion_of_G_2_of_12_and_14.xml
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/lazy-golomb.png
  Interpreting Meta-Fibonacci Recursions using Sum Trees/presentation.tex
  scripts/build.sh
  scripts/upload_to_gdrive.sh
Due: chktex

chore: adds support in gdrive upload docs
  scripts/README.md
Due: none

chore: adds support in gdrive upload docs (#50)
  scripts/README.md
Due: none

refactor: centralizes topic name for scripts
  .pre-commit-config.yaml
  scripts/README.md
  scripts/build.sh
  scripts/topics.sh
  scripts/upload_to_gdrive.sh
Due: none

refactor: centralizes topic name for scripts (#51)
  .pre-commit-config.yaml
  scripts/README.md
  scripts/build.sh
  scripts/topics.sh
  scripts/upload_to_gdrive.sh
Due: none

feat: adds research paper
  .gitignore
  .pre-commit-config.yaml
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_C(n)=C(n-2-C(n-1))+C(n-3-C(n-2)).pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_C(n)=C(n-6-C(n-3))+C(n-9-C(n-6)).pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_Q1_ICs11_200terms-eps-converted-to.pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_Q1_ICs11_200terms.eps
  Constructing New Families of Nested Recursions with Slow Solutions/paper.tex
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/C(n)=C(n-2-C(n-1))+C(n-3-C(n-2)).pdf
  scripts/topics.sh
Due: chktex

feat: adds research paper (#52)
  .gitignore
  .pre-commit-config.yaml
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_C(n)=C(n-2-C(n-1))+C(n-3-C(n-2)).pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_C(n)=C(n-6-C(n-3))+C(n-9-C(n-6)).pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_Q1_ICs11_200terms-eps-converted-to.pdf
  Constructing New Families of Nested Recursions with Slow Solutions/images/M104050_Q1_ICs11_200terms.eps
  Constructing New Families of Nested Recursions with Slow Solutions/paper.tex
  Interpreting Meta-Fibonacci Recursions using Sum Trees/images/C(n)=C(n-2-C(n-1))+C(n-3-C(n-2)).pdf
  scripts/topics.sh
Due: chktex

ci: upload to gdrive on merge
  .github/workflows/main.yaml
Due: none

fix: rebuilds pdfs as a workaround
  .github/workflows/main.yaml
Due: none

ci: run only on main
  .github/workflows/main.yaml
Due: none

ci: upload to gdrive on merge (#54)
  .github/workflows/main.yaml
Due: none

ci: cleans up the pipeline setup
  .github/workflows/main.yaml
  scripts/install.sh
Due: none

ci: cleans up the pipeline setup (#55)
  .github/workflows/main.yaml
  scripts/install.sh
Due: none

feat: adds READMEs, with cleanup
  .pre-commit-config.yaml
  Assignment 2 on Free Groups/README.md
  CLAUDE.md
  Constructing New Families of Nested Recursions with Slow Solutions/README.md
  Extending Conditional Recurrences over Finite Fields/README.md
  Groups Generated by Reflections/README.md
  Solving Linear Relations using Linear Algebra/README.md
  Solving Linear Relations using Linear Algebra/code/README.md
  Solving Linear Relations using Linear Algebra/code/requirements.txt
Due: none

fix: address markdownlint failures in CLAUDE.md
  CLAUDE.md
Due: none

docs: instruct agents/contributors to install pre-commit hooks
  CLAUDE.md
Due: none

feat: adds READMEs, with cleanup (#60)
  .pre-commit-config.yaml
  Assignment 2 on Free Groups/README.md
  CLAUDE.md
  Constructing New Families of Nested Recursions with Slow Solutions/README.md
  Extending Conditional Recurrences over Finite Fields/README.md
  Groups Generated by Reflections/README.md
  Solving Linear Relations using Linear Algebra/README.md
  Solving Linear Relations using Linear Algebra/code/README.md
  Solving Linear Relations using Linear Algebra/code/requirements.txt
Due: none

Path conditions:
  chktex: any of: .*/.*\.tex$
  makefile-syntax-checker: any of: Makefile
